In [1]:
print("hello")

hello

In [19]:
import pandas as pd
import numpy as np

In [20]:
df = pd.read_csv("../data/dataset.csv")
df.head()

,id,brand,categories,dateAdded,dateUpdated,ean,keys,manufacturer,manufacturerNumber,name,...,reviews.id,reviews.numHelpful,reviews.rating,reviews.sourceURLs,reviews.text,reviews.title,reviews.userCity,reviews.userProvince,reviews.username,upc
0,AV13O1A8GV-KLJ3akUyj,Universal Music,"Movies, Music & Books,Music,R&b,Movies & TV,Mo...",2017-07-25T00:52:42Z,2018-02-05T08:36:58Z,6.02537E+11,"602537205981,universalmusic/14331328,universal...",Universal Music Group / Cash Money,14331328,Pink Friday: Roman Reloaded Re-Up (w/dvd),...,NaN,0.0,5,https://redsky.target.com/groot-domain-api/v1/...,i love this album. it's very good. more to the...,Just Awesome,Los Angeles,NaN,Joshua,6.02537E+11
1,AV14LG0R-jtxr-f38QfS,Lundberg,"Food,Packaged Foods,Snacks,Crackers,Snacks, Co...",2017-07-25T05:16:03Z,2018-02-05T11:27:45Z,73416000391,lundbergorganiccinnamontoastricecakes/b000fvzw...,Lundberg,574764,Lundberg Organic Cinnamon Toast Rice Cakes,...,100209113.0,NaN,5,https://www.walmart.com/reviews/product/29775278,Good flavor. This review was collected as part...,Good,NaN,NaN,Dorothy W,73416000391
2,AV14LG0R-jtxr-f38QfS,Lundberg,"Food,Packaged Foods,Snacks,Crackers,Snacks, Co...",2017-07-25T05:16:03Z,2018-02-05T11:27:45Z,73416000391,lundbergorganiccinnamontoastricecakes/b000fvzw...,Lundberg,574764,Lundberg Organic Cinnamon Toast Rice Cakes,...,100209113.0,NaN,5,https://www.walmart.com/reviews/product/29775278,Good flavor.,Good,NaN,NaN,Dorothy W,73416000391
3,AV16khLE-jtxr-f38VFn,K-Y,"Personal Care,Medicine Cabinet,Lubricant/Sperm...",2017-07-25T16:26:19Z,2018-02-05T11:25:51Z,67981934427,"kylovesensualitypleasuregel/b00u2whx8s,0679819...",K-Y,67981934427,K-Y Love Sensuality Pleasure Gel,...,113026909.0,NaN,1,https://www.walmart.com/reviews/product/43383370,I read through the reviews on here before look...,Disappointed,NaN,NaN,Rebecca,67981934427
4,AV16khLE-jtxr-f38VFn,K-Y,"Personal Care,Medicine Cabinet,Lubricant/Sperm...",2017-07-25T16:26:19Z,2018-02-05T11:25:51Z,67981934427,"kylovesensualitypleasuregel/b00u2whx8s,0679819...",K-Y,67981934427,K-Y Love Sensuality Pleasure Gel,...,171267657.0,NaN,1,https://www.walmart.com/reviews/product/43383370,My husband bought this gel for us. The gel cau...,Irritation,NaN,NaN,Walker557,67981934427

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71044 entries, 0 to 71043
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    71044 non-null  object
 1   brand                 71044 non-null  object
 2   categories            71044 non-null  object
 3   dateAdded             71044 non-null  object
 4   dateUpdated           71044 non-null  object
 5   ean                   39065 non-null  object
 6   keys                  71044 non-null  object
 7   manufacturer          70903 non-null  object
 8   manufacturerNumber    70841 non-null  object
 9   name                  71044 non-null  object
 10  reviews.date          70977 non-null  object
 11  reviews.dateAdded     71044 non-null  object
 12  reviews.dateSeen      71044 non-null  object
 13  reviews.didPurchase   32158 non-null  object
 14  reviews.doRecommend   60429 non-null  object
 15  reviews.id            32158 non-null  float64
 16  reviews.numHelpful    32508 non-null  float64
 17  reviews.rating        71044 non-null  int64
 18  reviews.sourceURLs    71044 non-null  object
 19  reviews.text          71008 non-null  object
 20  reviews.title         70567 non-null  object
 21  reviews.userCity      5410 non-null   object
 22  reviews.userProvince  449 non-null    object
 23  reviews.username      70942 non-null  object
 24  upc                   71042 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 13.6+ MB

:

In [21]:
df.describe()

         reviews.id  reviews.numHelpful  reviews.rating
count  3.215800e+04        32508.000000    71044.000000
mean   7.944753e+07            0.410422        4.385747
std    4.842696e+07            3.574442        1.067659
min    2.187400e+04            0.000000        1.000000
25%    3.355342e+07            0.000000        4.000000
50%    7.124763e+07            0.000000        5.000000
75%    1.112628e+08            0.000000        5.000000
max    1.038227e+09          183.000000        5.000000

In [22]:
## Data only required for the review analysis is review.text and review.rating
df = df[["reviews.text", "reviews.rating"]]

In [23]:
df.head()

                                        reviews.text  reviews.rating
0  i love this album. it's very good. more to the...               5
1  Good flavor. This review was collected as part...               5
2                                       Good flavor.               5
3  I read through the reviews on here before look...               1
4  My husband bought this gel for us. The gel cau...               1

In [24]:
## function to get the number of words in a text
def word_count(text):
    return len(str(text).split())

df['word_count'] = df['reviews.text'].apply(word_count)
df.head()

,reviews.text,reviews.rating,word_count
0,i love this album. it's very good. more to the...,5,41
1,Good flavor. This review was collected as part...,5,11
2,Good flavor.,5,2
3,I read through the reviews on here before look...,1,124
4,My husband bought this gel for us. The gel cau...,1,25

In [25]:
print("Average word count:", df['word_count'].mean())
print("Min word count:", df['word_count'].min())
print("Max word count:", df['word_count'].max())

Average word count: 39.426397725353304
Min word count: 1
Max word count: 1010

- Dataset contain more than 70000 rows, so not possible to preprocess, feature engineering and model training in my system
- I am taking only 40000 rows for training

In [26]:
## taking only 40000 samples for analysis
df = df.sample(n=40000, random_state=42)
df = df.reset_index(drop=True)  
df.head()

,reviews.text,reviews.rating,word_count
0,I was thrilled when my hubby came in with the ...,5,77
1,I really love this mop and the fact that I can...,3,77
2,In my car I keep a tote filled with a roll of ...,5,105
3,Cooked this today now have what resembles chew...,2,24
4,I haven't tried product yet but intend to on n...,5,28

In [27]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

ps = PorterStemmer()
stop_words = set(stopwords.words('english'))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Lenovo\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [28]:
def transform_text(text):
    if not isinstance(text, str):
        return ""
    text = text.lower()
    tokens = nltk.word_tokenize(text)
    tokens = [word for word in tokens if word.isalnum()]
    tokens = [word for word in tokens if word not in stop_words]
    tokens = [ps.stem(word) for word in tokens]

    return " ".join(tokens)

In [29]:
df['transformed_text'] = df['reviews.text'].apply(transform_text)

In [30]:
df.head()

,reviews.text,reviews.rating,word_count,transformed_text
0,I was thrilled when my hubby came in with the ...,5,77,thrill hubbi came mail friday said look like g...
1,I really love this mop and the fact that I can...,3,77,realli love mop fact refil bottl cleaner late ...
2,In my car I keep a tote filled with a roll of ...,5,105,car keep tote fill roll quilt northern batteri...
3,Cooked this today now have what resembles chew...,2,24,cook today resembl chewi countri ham crisp bac...
4,I haven't tried product yet but intend to on n...,5,28,tri product yet intend next wash cycl grew use...

In [32]:
import os
os.chdir("..")

In [34]:
%pwd

'c:\\Users\\Lenovo\\MLOPS\\HealthKart-recommendation-system'

In [35]:
## saving the preprocessed data in preprocessed data folder of data folder
output_path = "data/preprocessed_data"
output_file = os.path.join(output_path, "preprocessed_reviews.csv")
os.makedirs(output_path, exist_ok=True)
df.to_csv(output_file, index=False)
print("Preprocessed data saved to:", output_file)

Preprocessed data saved to: data/preprocessed_data\preprocessed_reviews.csv