#### Creating features from the preprocessed data
- First converting reviews.rating into 3 parts: positive, negative and neutral
- if rating >= 4 then Positive, = 3 then neutal else negative

In [1]:
import os
os.chdir("..")
%pwd

'c:\\Users\\Lenovo\\MLOPS\\HealthKart-recommendation-system'

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('data/preprocessed_data/preprocessed_reviews.csv')
df.head()

   reviews.rating                                   transformed_text
0               5  thrill hubbi came mail friday said look like g...
1               3  realli love mop fact refil bottl cleaner late ...
2               5  car keep tote fill roll quilt northern batteri...
3               2  cook today resembl chewi countri ham crisp bac...
4               5  tri product yet intend next wash cycl grew use...

In [4]:
df['reviews.rating'].isnull().sum()

np.int64(0)

In [5]:
def map_sentiment(rating):
    if rating >= 4:
        return "positive"
    elif rating == 3:
        return "neutral"
    else:
        return "negative"

In [6]:
df['Review'] = df['reviews.rating'].apply(map_sentiment)
df.head()

   reviews.rating                                   transformed_text    Review
0               5  thrill hubbi came mail friday said look like g...  positive
1               3  realli love mop fact refil bottl cleaner late ...   neutral
2               5  car keep tote fill roll quilt northern batteri...  positive
3               2  cook today resembl chewi countri ham crisp bac...  negative
4               5  tri product yet intend next wash cycl grew use...  positive

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Review_encoded'] = le.fit_transform(df['Review'])
df.head()

,reviews.rating,transformed_text,Review,Review_encoded
0,5,thrill hubbi came mail friday said look like g...,positive,2
1,3,realli love mop fact refil bottl cleaner late ...,neutral,1
2,5,car keep tote fill roll quilt northern batteri...,positive,2
3,2,cook today resembl chewi countri ham crisp bac...,negative,0
4,5,tri product yet intend next wash cycl grew use...,positive,2

In [8]:
le.classes_

array(['negative', 'neutral', 'positive'], dtype=object)

- 0 = negative, 1 = neutral , 2 = positive

In [9]:
## save featured data
output_dir = "data/featured_data"
output_file = os.path.join(output_dir, "featured_reviews.csv")
os.makedirs(output_dir, exist_ok=True)
df.to_csv(output_file, index=False)
print(f"Featured data saved to {output_file}")

Featured data saved to data/featured_data\featured_reviews.csv